<!-- <mat-accordion multi="true" *ngIf="codes.length > 0">
  <mat-expansion-panel *ngFor="let code of codes">
    <mat-expansion-panel-header>
      {{ code.language }}
    </mat-expansion-panel-header>
    <p>{{ code.content }}</p>
    <p>{{ code.result }}</p>
    <p>{{ code.performance }}</p>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="codes.length <= 0">No codes added yet!</p> -->
